h1{
    color: maroon;
}

img{
    width: 400px;
}

#thirdDiv{
    height: 600px; width: 500px;
}

#thirdDiv{
    background-color: yellowgreen;
}

#spanId{
    font-size: 18px;
}

#spanId{
    margin: 50px;
}

#thirdDiv{
    padding: 50px;
}

#thirdDiv{
    border-style: solid;
}

#thirdDiv{
    border-color: chocolate;
}

body{
    background-color: tomato;
}









